torch>=1.7.0
torchvision>=0.8.1
torchaudio
numpy==1.23.5
yacs>=0.1.5
tqdm
opencv-python
Cython
pyyaml
tensorboardX>=1.6
scipy
pandas
shapely
scikit-image
EasyDict
ninja
json_tricks
Pillow
